<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289602024297-dj55viatg7sh5hvprjrciucjia0fe187.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289602024297-dj55viatg7sh5hvprjrciucjia0fe187</string>
	<key>API_KEY</key>
	<string>AIzaSyCSG1qQSIeLkMCWz6Gkhc8qN-XXkW-t-AE</string>
	<key>GCM_SENDER_ID</key>
	<string>289602024297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letsbuildthatapp.LoginDemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-a00d0</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-a00d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289602024297:ios:0104c8d82c0daed74e43f8</string>
</dict>
</plist>